<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.regiewby.utilities.ListenerImplementation"></listener>
    </listeners>
    <test name="/Users/regiewby/git.server/selenium-framework">
        <classes>
            <class name="com.regiewby.testcases.TestCase"></class>
        </classes>
    </test>
</suite>